<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{page.title}}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="Your name goes here">
    <meta name="copyright" content="Maybe consider a Creative Commons license">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/abbdb82656.js"></script>
    <link rel="stylesheet" href="{{page.root}}assets/css/coderay.css">
    <link rel="stylesheet" href="{{page.root}}assets/css/asciidoctor.css">
    <link rel="stylesheet" href="{{page.root}}assets/css/custom.css">


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Bitter|Copse|Cutive|Lora:700|Sanchez|Scope+One|Slabo+27px|Trocchi|Vesper+Libre" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


    <!-- <link rel="stylesheet" href="{{page.root}}css/foundation.css">
    <link rel="stylesheet" href="{{page.root}}css/font-awesome.css">
    <link rel="stylesheet" href="{{page.root}}css/coderay.css">
    <link rel="stylesheet" href="{{page.root}}css/asciidoctor.css">
    <script src="{{page.root}}js/vendor/modernizr.js"></script>
    <script src="{{page.root}}js/toc.js"></script> -->
</head>
