h2, h3 {
    font-family: 'Scope One', serif;
}
/*
font-family: 'Lora', serif;
font-family: 'Bitter', serif;
font-family: 'Arvo', serif;
font-family: 'Sanchez', serif;
font-family: 'Copse', serif;
font-family: 'Cutive', serif;
font-family: 'Trocchi', serif;
font-family: 'Slabo 27px', serif;
font-family: 'Vesper Libre', serif;
*/