a {
    text-decoration:none;
}

.btn-primary {
    color: #ffffff;
    background-color: #00B2E2;
    border-color: #00B2E2;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #F7A3D5;
    border-color: #F7A3D5;
}