<!doctype html>
<html lang="en">

<!-- head -->
{% include html-head.html %}


<body>
<!-- Top most navbar -->


<!-- Page Content -->


<div class="container">
    {{ content }}
    <section class="cards-section text-center">
        <div class="container">
            <h2 class="fp-intro-title">Getting started is easy!</h2>
            <div class="fp-intro">
                <p>Welcome to SUSE Live Documentation. Select a product to view its documentation. For parties interested in contributing to our documentation review our Contribution Guide. The documents contained on this site update a few minutes after a pull request has been accepted by our technical writers. Enjoy!</p>
                <div class="cta-container">
                    <a class="btn btn-primary btn-cta" href="http://themes.3rdwavemedia.com/" target="_blank"><i class="fa fa-cloud-download"></i> Contribution Guide</a>
                </div>
            </div>

            <div id="cards-wrapper" class="cards-wrapper row">
                <a href="manager-index.html"><div class="item item-green col-md-4 col-sm-6 col-xs-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span><i class="fa fa-thumbs-o-up fa-4x intro"></i></span>
                        </div>
                        <h3 class="fp-card-title">SUSE Best Practices</h3>
                        <i class="fa fa-heartbeat intro" aria-hidden="true"></i>
                        <p class="intro">Live Documentation</p>
                        <a class="link" href="docs/manager-docs/manager-index.html"><span></span></a>
                    </div>
                </div></a>
                <a href="caas-index.html"> <div class="item item-pink item-2 col-md-4 col-sm-6 col-xs-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span><img src="assets/images/caas.svg" class="icon-frontpage"></span>
                        </div>
                        <h3 class="fp-card-title">SUSE CaaS Platform</h3>
                        <i class="fa fa-heartbeat intro" aria-hidden="true"></i>
                        <p class="intro">Live Documentation</p>
                        <a class="link" href="components.html"><span></span></a>
                    </div>
                </div></a>
                <div class="item item-blue col-md-4 col-sm-6 col-xs-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span><img src="assets/images/ses.png" class="icon-frontpage"></span>
                        </div>
                        <h3 class="fp-card-title">SUSE Enterprise Storage</h3>
                        <i class="fa fa-heartbeat intro" aria-hidden="true"></i>
                        <p class="intro">Live Documentation</p>
                        <a class="link" href="charts.html"><span></span></a>
                    </div>
                </div>
                <div class="item item-purple col-md-4 col-sm-6 col-xs-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span><img src="assets/images/soc.png" class="icon-frontpage"></span>
                        </div>
                        <h3 class="fp-card-title">SUSE OpenStack Cloud</h3>
                        <i class="fa fa-heartbeat intro" aria-hidden="true"></i>
                        <p class="intro">Live Documentation</p>
                        <a class="link" href="faqs.html"><span></span></a>
                    </div>
                </div>
                <div class="item item-primary col-md-4 col-sm-6 col-xs-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span><img src="assets/images/sles.png" class="icon-frontpage"></span>
                        </div>
                        <h3 class="fp-card-title">SUSE Linux Enterprise Server</h3>
                        <i class="fa fa-heartbeat intro" aria-hidden="true"></i>
                        <p class="intro">Live Documentation</p>
                        <a class="link" href="showcase.html"><span></span></a>
                    </div>
                </div>
                <div class="item item-orange col-md-4 col-sm-6 col-xs-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span><img src="assets/images/sled.png" class="icon-frontpage"></span>
                        </div>
                        <h3 class="fp-card-title">SUSE Linux Enterprise Desktop</h3>
                        <i class="fa fa-heartbeat intro" aria-hidden="true"></i>
                        <p class="intro">Live Documentation</p>
                        <a class="link" href="license.html"><span></span></a>
                    </div>
                </div>
                <div class="item item-orange col-md-4 col-sm-6 col-xs-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span><img src="assets/images/slepos.png" class="icon-frontpage"></span>
                        </div>
                        <h3 class="fp-card-title">SUSE Linux Enterprise Point of Service</h3>
                        <i class="fa fa-heartbeat intro" aria-hidden="true"></i>
                        <p class="intro">Live Documentation</p>
                        <a class="link" href="license.html"><span></span></a>
                    </div>
                </div>
                <div class="item item-orange col-md-4 col-sm-6 col-xs-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span><img src="assets/images/slepos.png" class="icon-frontpage"></span>
                        </div>
                        <h3 class="fp-card-title">SUSE Linux Enterprise Point of Service Image Server</h3>
                        <i class="fa fa-heartbeat intro" aria-hidden="true"></i>
                        <p class="intro">Live Documentation</p>
                        <a class="link" href="license.html"><span></span></a>
                    </div>
                </div>
                <div class="item item-orange col-md-4 col-sm-6 col-xs-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <span><img src="assets/images/sles-sap.png" class="icon-frontpage"></span>
                        </div>
                        <h3 class="fp-card-title">SUSE Linux Enterprise Server for SAP Applications</h3>
                        <i class="fa fa-heartbeat intro" aria-hidden="true"></i>
                        <p class="intro">Live Documentation </p>
                        <a class="link" href="license.html"><span></span></a>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>


<!-- Footer -->

<footer class="row">

</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>