---
layout: default
---


<div class="post-header">
    <h1 class="post-title-main">{{ page.title }}</h1>
</div>
<div id="search-box">
  <!-- SearchBox widget will appear here -->
</div>

<div id="hits">
  <!-- Hits widget will appear here -->
</div>

<script>
  const search = instantsearch(options);

  // initialize SearchBox
  search.addWidget(
    instantsearch.widgets.searchBox({
      container: '#search-box',
      placeholder: 'Search for products'
    })
  );

  // initialize hits widget
  search.addWidget(
    instantsearch.widgets.hits({
      container: '#hits'
    })
  );

  search.start();
</script>

<!-- If this does not work place post-content back in div and remove article -->
<div class="post-content">
    <!-- HACK enough for the demo lol -->
    {% if page.path contains 'manager-docs' %}
      {% assign editme_link = 'manager-docs' %}
    {% elsif page.path contains 'sles-docs' %}
      {% assign editme_link = 'sles-docs' %}
    {% endif %}

    {% if editme_link %}
      <a target="_blank" href="https://github.com/{{site.editme_links[editme_link]}}/{{page.path}}" class="btn btn-primary" role="button"> Edit me</a>
    {% endif %}

    <!-- page content -->
    {{content}}


</div>
{% include algolia.html %}
